.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}


.aspect-square {
  aspect-ratio: 1 / 1;
  width: 100%;
}

.card {
  background: white;
  border-radius: 0.75rem;
  border: 1px solid #e5e7eb;
  transition: transform 0.2s, box-shadow 0.2s;
  max-width: 100%;
  padding: 1rem;
}
